.newComment {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

.avatarReply {
  max-width: 40px;
  height: auto;
}

.avatar:hover {
  transform: scale(2.1);
}

.sendButton {
  font-size: large;
  color: white;
  background-color: hsl(238, 40%, 52%);
  border-color: transparent;
  border-radius: 10px;
  width: 110px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.sendButton:hover {
  opacity: 0.55;
}

.inputColumn {
  width: 100%;
}

.replyInput {
  color: hsl(212, 24%, 26%);
  resize: none;
  border: 2px solid hsl(223, 19%, 93%);
  width: 100%;
  padding: 5px;
  height: 90px;
  border-radius: 10px;
}

.replyInput:focus {
  outline: none;
  border: 1px solid hsl(238, 40%, 52%);
}

@media (max-width: 500px) {
  .newComment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    align-items: center;
    gap: 0;
    height: 200px;
  }
  .avatarColumn {
    grid-area: 2/1/3/2;
  }
  .inputColumn {
    grid-area: 1/1/2/4;
  }
  .sendColumn {
    grid-area: 2/3/3/4;
  }
}
